<div class="loading-indicator" *ngIf="showSpinner">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Clients</h4>
                        <p class="card-category">List of clients</p>
                        <button class="add-boton" mat-mini-fab color="primary"
                            aria-label="Example icon button with a delete icon" (click)="openDialog()">
                            <mat-icon style="cursor: pointer;">add</mat-icon>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Identity document
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let client of clients">
                                        <td>
                                            {{ client.id }}
                                        </td>
                                        <td>
                                            {{ client.firstName }}
                                        </td>
                                        <td>
                                            {{ client.lastName }}
                                        </td>
                                        <td>
                                            {{ client.identityDocument }}
                                        </td>
                                        <td class="text-primary">
                                            {{ client.telephone || 'Doesn\'t have' }}
                                        </td>
                                        <td class="text-primary">
                                            <mat-icon matTooltip="Show cars" style="cursor: pointer;" aria-hidden="false" aria-label="Example home icon" [routerLink]="['/clients', client.id, 'cars']">
                                                directions_car
                                            </mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>