.add-boton {
    position: absolute;
    right: 5%;
    top: 25%;
}
::ng-deep .info {
    background-color: #2196F3;
}
::ng-deep .success {
    background-color: #04b85e;
}
::ng-deep .error {
    background-color: #B00020;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}