<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Cars</h4>
                        <p class="card-category"> List of cars</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Plate
                                    </th>
                                    <th>
                                        Color
                                    </th>
                                    <th>
                                        Model
                                    </th>
                                    <th>
                                        Brand
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let car of cars">
                                        <td>
                                            {{ car.id }}
                                        </td>
                                        <td>
                                            {{ car.plate }}
                                        </td>
                                        <td>
                                            {{ car.color }}
                                        </td>
                                        <td>
                                            {{ car.model }}
                                        </td>
                                        <td class="text-primary">
                                            {{ car.brand }}
                                        </td>
                                        <td class="text-primary">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/cars', car.id, 'repairs']">
                                                construction
                                            </mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  