.add-boton {
    position: absolute;
    right: 5%;
    top: 25%;
}

::ng-deep .info {
    background-color: #2196F3;
}

::ng-deep .success {
    background-color: #04b85e;
}

::ng-deep .error {
    background-color: #B00020;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 426px) {
    .loading-indicator {
        right: 15%;
    }
}

/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
}

th.mat-header-cell {
    font-size: 0.95rem;
    font-weight: 500;
    border-bottom-width: 1px;
    color: #9c27b0 !important;
}

@media screen and (max-width: 960px) {
    th.mat-header-cell {
        padding-right: 15px;
    }

    td.mat-cell {
        padding-right: 15px;
    }
}
